
<form class="container" #f="ngForm" (ngSubmit)="addBranch(f.value)">
   <div>
      <label>Add Branch:</label>
      <br>
        <label>Service:</label>
          <select id="ServiceName" ngModel #ServiceName="ngModel" name="ServiceName">
              <option *ngFor="let item of services" [value]="item.Name" id="ServiceName" name="ServiceName">{{item.Name}}</option>
          </select>
      
        <br>
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
        <input id="Logo" type="text" style="width:fit-content" class="form-control" placeholder="Enter Logo" name="Logo" ngModel required #Logo = "ngModel" aria-describedby="basic-addon1">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-map-marker"></i></span>
        <input id="Latitude" type="text" style="width:fit-content" class="form-control" placeholder="Enter Latitude" name="Latitude" ngModel required #Latitude = "ngModel" aria-describedby="basic-addon1">
      </div>

     <div class="input-group ">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-map-marker"></i></span>
      <input id="Longitude" type="text" style="width:fit-content" class="form-control" placeholder="Enter Longitude" name="Longitude" ngModel required #Longitude = "ngModel" aria-describedby="basic-addon1">
     </div>

     <div class="input-group ">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-home"></i></span>
      <input id="Address" type="text" style="width:fit-content" class="form-control" placeholder="Enter Address" name="Address" ngModel required #Address = "ngModel" aria-describedby="basic-addon1">
     </div>

     <button class="btn btn-primary " type="submit">Add Branch</button>
   </div>
 </form>
<br>
<br>
<div class="container">
    <label><b>All Branches:</b></label>
    <ul class="container">
        <li *ngFor="let branchs of branches; let i = index">
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" [(ngModel)]="branchs.Logo">
          </div>
         
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-map-marker"></i></span>
            <input type="text" [(ngModel)]="branchs.Latitude">
          </div>
      
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-map-marker"></i></span>
            <input type="text" [(ngModel)]="branchs.Longitude">
          </div>
      
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-home"></i></span>
            <input type="text" [(ngModel)]="branchs.Address">
           </div>
      
          <button class="btn btn-primary "  (click)="deleteBranch(branchs.Id)">Delete </button>
          <button class="btn btn-primary "  (click)="saveBranch(i)">Save </button>
          <br>
          <br>
        </li>
      </ul>
</div>

