<div *ngIf="checkUserType()" class="container">
    <label>Add Vehicle</label>
    <br>
    <form  #f="ngForm" (ngSubmit)="addVehicle(f.value)">
      <div>
        <label>Service:</label>
        <select id="ServiceName" ngModel #ServiceName="ngModel" name="ServiceName">
          <option *ngFor="let item of services" [value]="item.Name" id="ServiceName" name="ServiceName">{{item.Name}}</option>
        </select>
       
        <label>Types:</label>
        <select id="Type" ngModel #Type="ngModel" name="Type">
            <option *ngFor="let t of types" [value]="t.Name" id="Type" name="Type">{{t.Name}}</option>
        </select>
  
        <div class="input-group ">
          <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
          <input id="Year" type="text" style="width:fit-content" class="form-control" placeholder="Enter Year" name="Year" ngModel required #Year = "ngModel" aria-describedby="basic-addon1">
        </div>

        <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input id="Manufactor" type="text" style="width:fit-content" class="form-control" placeholder="Enter Manufactor" name="Manufactor" ngModel required #Manufactor = "ngModel" aria-describedby="basic-addon1">
        </div>

        <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input id="Model" type="text" style="width:fit-content" class="form-control" placeholder="Enter Model" name="Model" ngModel required #Model = "ngModel" aria-describedby="basic-addon1">
        </div>
  
        <div class="input-group ">
          <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
          <input id="Description" type="text" style="width:fit-content" class="form-control" placeholder="Enter Description" name="Description" ngModel required #Description = "ngModel" aria-describedby="basic-addon1">
        </div>

        <div class="input-group ">
          <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
          <input id="PricePerHour" type="text" style="width:fit-content" class="form-control" placeholder="Enter PricePerHour" name="PricePerHour" ngModel required #PricePerHour = "ngModel" aria-describedby="basic-addon1">
        </div>
      
        <form  #form = "ngForm" class="groove">
          <!-- File Button --> 
            <label class="col-md-4 control-label" for="Logo">Logo</label>
              <input multiple type="file" name="photo" ng2FileSelect [uploader]="uploader" enctype = "multipart/form-data"/>
              <button type="button" class ="btn btn-success btn-s"
              (click)="uploader.uploadAll()"
              [disabled] ="!uploader.getNotUploadedItems().length">Upload Image</button>
        
        </form>

        <button class="btn btn-primary" type="submit">Add Vehicle</button>
      </div>
    </form>
  </div>
  <br>
  <br>


<div class="container">
  <label>Vehicles:</label>

  <div class="input-group ">
    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" [(ngModel)]="searchVar">
  </div>
  <button class="btn  btn-primary"  (click)="searchVehicle()">Serach</button>
  <br>
  <ul>
    <li *ngFor="let vehicle of showVehicles; let i = index">

        <td style="width: 250px;"><label class="col-md-4 control-label">Logo</label><img width="200" src='{{vehicle.Images}}' /></td>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" [(ngModel)]="vehicle.Model">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" [(ngModel)]="vehicle.Manufactor">
      </div>
      
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" [(ngModel)]="vehicle.Year">
      </div>

      <div class="input-group ">
          <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="text" [(ngModel)]="vehicle.Type.Name">
      </div>

      <button *ngIf="checkUserType()" class="btn  btn-danger"  (click)="deleteVehicle(vehicle.Id)">Delete </button>
      <button *ngIf="checkUserType()" class="btn  btn-primary"  (click)="savevehicle(i)">Save </button>
      <button *ngIf="checkUserType()" class="btn  btn-primary"  (click)="makeUnavailabe(vehicle.Id)">Make Unavailable </button>
      <br>
      <br>
    </li>
  </ul>
</div>
