<div class="container">
  <label>All Vehicles:</label>
  <ul>
    <li *ngFor="let vehicle of vehicles; let i = index">
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="vehicle.Model">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="vehicle.Manufactor">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="vehicle.Year">
      </div>

      <button class="btn btn-lg btn-primary" *ngIf="checkAvailable(i)" (click)="addVehicle(i)">Add Vehicle</button>
    </li>
  </ul>
</div>

<div class="container">
  <label>All Branches:</label>
  <ul>
    <li *ngFor="let branch of branches; let i = index">
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="branch.Logo">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="branch.Address">
      </div>

      <button  class="btn btn-lg btn-primary" (click)="addBranch(i)">Add Branch</button>
    </li>
  </ul>
</div>
