<div class="container">
    <label>All Users:</label>
      <ul>
        <li *ngFor="let user of users; let i = index">
          <div *ngIf="checkUserDeleted(i)">
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" [(ngModel)]="user.FullName">
          </div>
    
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" [(ngModel)]="user.Birthday">
          </div>
    
          <button *ngIf="checkApprove(i)" class="btn  btn-primary"  (click)="approve(user.Id)">Approve </button>
          <button *ngIf="chackRole(i)" class="btn  btn-danger"  (click)="blockService(user.Id)">Service Block </button>
          <br>
          <br>
          </div>
        </li>
      </ul>

    <label>All Services:</label>
      <ul>
        <li *ngFor="let service of services; let i = index">
            <div *ngIf="checkServiceDeleted(i)">
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" [(ngModel)]="service.Name">
          </div>
    
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" [(ngModel)]="service.Email">
          </div>
          
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" [(ngModel)]="service.Description">
          </div>
    
          <button *ngIf="checkApproveSer(i)" class="btn  btn-danger"  (click)="approveSer(service.Id)">Approve </button>
          <br>
          <br>
            </div>
        </li>
      </ul>

      <label>All Rents:</label>
      <ul>
        <li *ngFor="let rent of rents; let i = index">
          <div *ngIf="chechAvailableVehicle(i)">
              <div *ngIf="checkRentDeleted(i)">
            <td style="width: 250px;"><label class="col-md-4 control-label">Logo</label><img width="200" src='{{rent.Vehicle.Images}}' /></td>
            
            <div class="input-group ">
              <span class="input-group-addon" id="basic-addon1">model</span>
              <input type="text" [(ngModel)]="rent.Vehicle.Model">
            </div>

            <div class="input-group ">
              <span class="input-group-addon" id="basic-addon1">Start Date</span>
              <input type="text" [(ngModel)]="rent.Start">
            </div>

            <div class="input-group ">
              <span class="input-group-addon" id="basic-addon1">End Date</span>
              <input type="text" [(ngModel)]="rent.End">
            </div>
      
            <button class="btn  btn-danger"  (click)="availableVehicle(rent.Vehicle.Id)">Available Vehicle </button>
            <br>
            <br>
          </div>
          </div>
        </li>
      </ul>
</div>
