
   <div class="container">
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="appUser.Email">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="appUser.FullName">
      </div>
    
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="appUser.Birthday">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="appUser.Activated">
      </div>
      
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" [(ngModel)]="appUser.PersonalDocument">
      </div>
     
     <label><b>Rents</b></label>
      <ul>
        <li *ngFor="let rent of appUser.Renting">
          <label>rent: {{rent.Id}}</label>
        </li> 
      </ul>   
      <br>
     <button class="btn btn-primary" (click)="logOut()">Log Out</button>
     <button class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
   </div>

  

