<div class="container">
  <label>Service</label> 

  <td style="width: 250px;"><label class="col-md-4 control-label">Logo</label><img width="200" src='{{service.Logo}}' /></td>

  <div class="input-group ">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
      <input type="text" [(ngModel)]="service.Name">
    </div>

    <div class="input-group ">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
      <input type="text" [(ngModel)]="service.Email">
    </div>
    
    <div class="input-group ">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
      <input type="text" [(ngModel)]="service.Description">
    </div>

    <div class="input-group ">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
      <input type="text" [(ngModel)]="service.AverageGrade">
    </div>

    <div class="input-group ">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
      <input type="text" [(ngModel)]="service.NumberOfGrades">
    </div>

    <label>Vehicles:</label>
    <ul>
      <li *ngFor="let vehicle of service.Vehicles; let i=index">
        <div *ngIf="CheckVehicleDeleted(i)">
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1">Model</span>
            <input type="text" [(ngModel)]="vehicle.Model">
          </div>

          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1">Manufactor</span>
            <input type="text" [(ngModel)]="vehicle.Manufactor">
          </div>
          <br>
        </div>
      </li>
    </ul>

    <label>Branches:</label>
    <ul>
      <li *ngFor="let branch of service.Branches; let i=index">
        <div *ngIf="checkBranchDeleted(i)">
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1">Address</span>
            <input type="text" [(ngModel)]="branch.Address">
          </div>
          <br>
        </div>
      </li>
    </ul>

    <label>Comments:</label>
      <ul>
        <li *ngFor="let comment of comments; let i = index" >
        <div *ngIf="checkComDeleted(i)" >
            <div class="input-group ">
              <span class="input-group-addon" id="basic-addon1">Text</span>
              <input type="text" [(ngModel)]="comment.Text">
            </div>
            <button *ngIf="checkUserType()" class="btn  btn-danger"  (click)="deleteComment(comment.Id)">Delete </button>
            <button *ngIf="checkUserType()" class="btn  btn-primary"  (click)="saveComment(i)">Save </button>
        </div>
        <br>
        </li>
      </ul>

    <form  #f1="ngForm" (ngSubmit)="addComment(f1.value)">

        <div>
          <label>Comment</label>
          <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input id="Text" type="text" style="width:fit-content" class="form-control" placeholder="Enter Text" name="Text" ngModel required #Text = "ngModel" aria-describedby="basic-addon1">
          </div>
          <button class="btn btn-primary" type="submit">Add Comment</button>
        </div>
    </form>

    <form  #f2="ngForm" (ngSubmit)="rateService(f2.value)">
          <div>
              <label>Rate</label>
            <div class="input-group ">
              <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
              <input id="Rating" type="text" style="width:fit-content" class="form-control" placeholder="Enter Rating" name="Rating" ngModel required #Rating = "ngModel" aria-describedby="basic-addon1">
            </div>
        <button class="btn btn-primary" type="submit">Rate</button>
      </div>
    </form>

</div>

