
<div class="container">
  <label>Add Service</label>
  <br>
  <form  #f="ngForm" (ngSubmit)="addService(f.value)">
    <div>
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input id="Name" type="text" style="width:fit-content" class="form-control" placeholder="Enter Name" name="Name" ngModel required #Name = "ngModel" aria-describedby="basic-addon1">
      </div>
     
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input id="Logo" type="text" style="width:fit-content" class="form-control" placeholder="Enter Logo" name="Logo" ngModel required #Logo = "ngModel" aria-describedby="basic-addon1">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input id="Email" type="text" style="width:fit-content" class="form-control" placeholder="Enter Email" name="Email" ngModel required #Email = "ngModel" aria-describedby="basic-addon1">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input id="Description" type="text" style="width:fit-content" class="form-control" placeholder="Enter Description" name="Description" ngModel required #Description = "ngModel" aria-describedby="basic-addon1">
      </div>
    
      <button class="btn btn-primary" type="submit">Add Service</button>
    </div>
  </form>
</div>
<br>
<br>
<div class="container">
<label>All Services:</label>
  <ul>
    <li *ngFor="let service of services; let i = index">
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" [(ngModel)]="service.Name">
      </div>

      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" [(ngModel)]="service.Email">
      </div>
      
      <div class="input-group ">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" [(ngModel)]="service.Description">
      </div>

      <button class="btn  btn-danger"  (click)="deleteService(service.Id)">Delete </button>
      <button class="btn  btn-primary"  (click)="saveService(i)">Save </button>
      <button class="btn  btn-primary"  [routerLink]="['/prev/',service.Id]">Preview </button>
      <br>
      <br>
    </li>
  </ul>
</div>
